<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.hearthstonewiki" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/base"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.HearthstoneWikiApp"
        >
        <activity
            android:name=".gui.activities.MenuActivity"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.providers.DatabaseContentProvider"
            android:authorities="www.hearthstone-wiki"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name=".services.APIService"
            android:exported="false" >
        </service>

        <activity
            android:name=".gui.activities.CardListActivity"
            android:label="@string/title_activity_card_list" >
        </activity>
    </application>

</manifest>
